// Use this source to name your color correctly
// https://chir.ag/projects/name-that-color/
$primary: #950740;
$primary-light: #c3073f;
$primary-dark: #6f2232;
$accent: #ea9010;
$neutral: #4e4e50;
$grey: #cecece;
$error: #ff3333;

//* Background colors
$root-bg: #1a1a1d;
