// Use this source to name your color correctly
// https://chir.ag/projects/name-that-color/

$primary: #5d5b8d;
$primary-light: #7b96ec;
//$primary-light: #8da4f1;

$white: #ffffff;
$black: #000000;
$grey: #cecece;
$grey-dark: #4e4e50;

//* Background colors
$root-bg: #a7bcff;
