.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include adaptive-property(font-size, 2rem, 1.5rem);
}

.description {
  max-width: $rootMaxWidth / 2;
  margin-top: 2rem;

  @include adaptive-property(font-size, 1.3rem, 1rem);
  line-height: 1.5;
}
