.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 1.25rem 3rem;

  border-radius: 0.5rem;
  background-color: $white;
}

.title {
  color: $primary;
  font-size: 2.5rem;
}

.subtitle {
  color: $primary;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    width: 20rem;
    padding: 0.75rem;

    border-bottom: 1px solid $primary;

    &::placeholder {
      color: darken($grey, 10);
    }
  }

  button {
    padding: 0.75rem;

    border-radius: 0.25rem;

    background-color: $primary-light;
    color: $white;
    font-weight: 600;

    cursor: pointer;

    &:disabled {
      background-color: lighten($primary-light, 15);
    }
  }

  label {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 0.75rem;
    color: $primary-light;

    cursor: pointer;
  }
}

.error {
  font-size: 0.75rem;
  color: red;
}

.login {
  margin-top: 0.75rem;

  font-size: 0.75rem;
  color: $primary;
}
